body {
	
}
h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 6rem;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 8rem;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 6rem;

}
.quatre:hover{
	color: red;
	font-size: 8rem;
	transition: 1s;

}
.imgtitle {
	background: url(jeu2.jpg);
	height: 30vh;
}

.fondnav{
	font-family: 'Mali', cursive;
	font-weight: bold;
	background-color: #007bff !important;

}
.regle{
	font-family: 'Mali', cursive;
	background: url(regle.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

}
.regle h2{
	font-size: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.regle p{
	font-size: 30px;
	padding-bottom: 50px;
}
.regle a{
	font-size: 15px;
	margin-bottom: 50px;
}
.fondpage{
	background: url(regle.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.fondjeu{
	height: 70vh;
	width: 80vh;
	padding: 0px;
	opacity: .9;
	box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
	border: solid black 3px;
	margin-top: 20px;
	border-radius: 2%;

}
.fondfooter{
	background-color: #007bff !important;

}
.case {
	border: solid black 4px;
	height: 60vh;
    border-radius: 50%;
}

.blanc {
    background-color: white;
}

.rouge {
    background-color: red;
}

.jaune {
    background-color: yellow;
}

#col1{

	width: 7vw;

}
#col2{

	width: 7vw;

}
#col3{

	width: 7vw;

}
#col4{

	width: 7vw;

}
#col5{

	width: 7vw;

}
#col6{

	width: 7vw;

}
#col7{

	width: 7vw;

}
.resultat{
	margin-top: 30px;
	margin-bottom: 30px;
	height: 50px;
	width: 100px;
	border:solid black 3px;
	border-radius: 10%;
}
.joueur{
	margin-top: 30px;
	margin-bottom: 30px;
	height: 70px;
	width: 400px;
	border:solid black 3px;
	border-radius: 3%;
}
@media (max-width: 575px) and (orientation: portrait){

h1 {
	 font-size: 40px;
}
.quatre {
	font-size: 40px;
}
.fondjeu{
	height: 35vh;
    width: 42vh;
    padding: 0px;


}
#col1{

	width: 13vw;

}
#col2{

	width: 13vw;

}
#col3{

	width: 13vw;

}
#col4{

	width: 13vw;

}
#col5{

	width: 13vw;

}
#col6{

	width: 13vw;

}
#col7{

	width: 13vw;

}
.case {
    height: 60vh;
    border-radius: 50%;
    background-color: white;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 50px;
	transition: 1s;
}
.quatre:hover{
	color: red;
	font-size: 50px;
	transition: 1s;

}



}
@media (min-width: 575px)  and (max-width: 767.98px) and (orientation: portrait){

.fondjeu{
	height: 35vh;
    width: 42vh;
    padding: 0px;

}
#col1{

	width: 13vw;

}
#col2{

	width: 13vw;

}
#col3{

	width: 13vw;

}
#col4{

	width: 13vw;

}
#col5{

	width: 13vw;

}
#col6{

	width: 13vw;

}
#col7{

	width: 13vw;

}
.case {
    height: 60vh;
    border-radius: 50%;
    background-color: white;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 50px;
	transition: 1s;
}
.quatre:hover{
	color: red;
	font-size: 50px;
	transition: 1s;

}



}
@media (min-width: 575px)  and (max-width: 767.98px) and (orientation: landscape){
	h1 {
	 font-size: 40px;
}
.fondjeu{
	height: 35vh;
    width: 42vh;
    padding: 0px;

}
.quatre {
	font-size: 40px;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 50px;
	transition: 1s;
}
.quatre:hover{
	color: red;
	font-size: 50px;
	transition: 1s;

}

	
	}
@media (min-width: 670px) and (max-width: 808px) {
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 50px;
	transition: 1s;
}
.quatre:hover{
	color: red;
	font-size: 50px;
	transition: 1s;

}

.fondjeu{
	height: 35vh;
    width: 42vh;
    padding: 0px;

}
#col1{

	width: 13vw;

}
#col2{

	width: 13vw;

}
#col3{

	width: 13vw;

}
#col4{

	width: 13vw;

}
#col5{

	width: 13vw;

}
#col6{

	width: 13vw;

}
#col7{

	width: 13vw;

}
.case {
    height: 60vh;
    border-radius: 50%;
    background-color: white;
}
}