body {
	
}
h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 6rem;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 8rem;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 6rem;

}
.quatre:hover{
	color: red;
	font-size: 8rem;
	transition: 1s;

}
.imgtitle {
	background: url(jeu2.jpg);
	height: 30vh;
}

.fondnav{
	font-family: 'Mali', cursive;
	font-weight: bold;
	background-color: #007bff !important;

}

.regle{
	font-family: 'Mali', cursive;
	background: url(regle.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

}
.regle h2{
	font-size: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.regle p{
	font-size: 30px;
	padding-bottom: 50px;
}
.regle a{
	font-size: 15px;
	margin-bottom: 50px;
}
.fondpage{
	background: url(regle.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
}

.fondjeu{
/*	width: 45%;*/
	padding: 5px;
	opacity: .9;
	box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.75);
	border: solid black 3px;
	margin-top: 50px;
	border-radius: 2%;

}
.fondfooter{
	background-color: #007bff !important;

}
.case {
	border: solid black 4px;
	height: 100px;
	width: 100px;
    border-radius: 50%;

}

.blanc {
    background-color: white;
}

.rouge {
    background-color: red;
}

.jaune {
    background-color: yellow;
}

/*#col1{

	width: 7vw;

}
#col2{

	width: 7vw;

}
#col3{

	width: 7vw;

}
#col4{

	width: 7vw;

}
#col5{

	width: 7vw;

}
#col6{

	width: 7vw;

}
#col7{

	width: 7vw;

}*/
.resultat{
	font-size: 20px;
	margin: 10px;
}

.reset{
	margin-bottom: 50px;
	margin-top: 30px;
}

@media (max-width: 575px) and (orientation:portrait){ 
	
h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 35px;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 40px;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 35px;

}
.quatre:hover{
	color: red;
	font-size: 40px;
	transition: 1s;

}
.case {
	border: solid black 3px;
	height: 40px;
	width: 40px;

    border-radius: 50%;
}
/*.fondjeu {
	width: 95%;
}

#col1{

	width: 13vw;

}
#col2{

	width: 13vw;

}
#col3{

	width: 13vw;

}
#col4{

	width: 13vw;

}
#col5{

	width: 13vw;

}
#col6{

	width: 13vw;

}
#col7{

	width: 13vw;

}
*/
}
@media (max-width: 575px) and (orientation:landscape) { 
	
h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 35px;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 40px;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 35px;

}
.quatre:hover{
	color: red;
	font-size: 40px;
	transition: 1s;

}
.case {
	border: solid black 3px;
	height: 40px;
	width: 40px;

    border-radius: 50%;
}
/*.fondjeu {
	width: 60%;
}


#col1{

	width: 13vw;

}
#col2{

	width: 13vw;

}
#col3{

	width: 13vw;

}
#col4{

	width: 13vw;

}
#col5{

	width: 13vw;

}
#col6{

	width: 13vw;

}
#col7{

	width: 13vw;

}*/


}
@media (min-width: 576px) and (max-width: 767px) { 
	h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 35px;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 40px;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 35px;

}
.quatre:hover{
	color: red;
	font-size: 40px;
	transition: 1s;

}
.case {
	border: solid black 3px;
	height: 50px;
	width: 50px;

    border-radius: 50%;
}
/*.fondjeu {
	width: 65%;
}

#col1{

	width: 13vw;

}
#col2{

	width: 13vw;

}
#col3{

	width: 13vw;

}
#col4{

	width: 13vw;

}
#col5{

	width: 13vw;

}
#col6{

	width: 13vw;

}
#col7{

	width: 13vw;

}
*/

}

 @media (min-width: 768px) and (max-width: 991px) and (orientation:portrait) {
 	.imgtitle {
	background: url(jeu2.jpg);
	height: 20vh;
}
	h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 50px;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 60px;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 50px;

}
.quatre:hover{
	color: red;
	font-size: 60px;
	transition: 1s;

}
.case {
	border: solid black 3px;
	height: 60px;
	width: 60px;

    border-radius: 50%;
}
/*.fondjeu {
	width: 50%;
}*/

}
 @media (min-width: 768px) and (max-width: 991px) and (orientation:landscape) {
	.imgtitle {
	background: url(jeu2.jpg);
	height: 15vh;
}
	h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 50px;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 60px;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 50px;

}
.quatre:hover{
	color: red;
	font-size: 60px;
	transition: 1s;

}
.case {
	border: solid black 3px;
	height: 70px;
	width: 70px;

    border-radius: 50%;
}
/*.fondjeu {
	width: 50%;
}
*/
}
	
 @media (min-width: 992px) and (max-width: 1199px) and (orientation:landscape) {

		h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 50px;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 60px;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 50px;

}
.quatre:hover{
	color: red;
	font-size: 60px;
	transition: 1s;

}
.case {
	border: solid black 3px;
	height: 80px;
	width: 80px;

    border-radius: 50%;
}
/*.fondjeu {
	width: 50%;
}*/

}
@media (min-width: 992px) and (max-width: 1199px) and (orientation:portrait) {
.imgtitle {
	background: url(jeu2.jpg);
	height: 15vh;
}
		h1{
	color: #007bff;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 50px;
	font-family: 'Mali', cursive;
}
h1:hover{
	color: yellow;
	opacity: .8;
	text-transform: uppercase;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
	padding-bottom: 35px;
	font-size: 60px;
	transition: 1s;
}
.quatre{
	color: red;
	font-size: 50px;

}
.quatre:hover{
	color: red;
	font-size: 60px;
	transition: 1s;

}
.case {
	border: solid black 3px;
	height: 80px;
	width: 80px;

    border-radius: 50%;
}
/*.fondjeu {
	width: 50%;
}*/

}
